
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div
                    class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div
                        class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-1 m-2">جدول
                            کاربران فعال </h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0"
                            id="table-active">
                            <thead>
                                <tr id="table-active-tr">
                              
                                </thead>
                                <tbody id="table-active-tbody">
                                </tbody>
                            </table>
                            <div class="container-fluid p-2" style="text-align: center;" id="table-active-pagination"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <footer class="footer py-4  ">
                <div class="container-fluid">
                    <div
                        class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div
                                class="copyright text-center text-sm text-muted text-lg-end">
                                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                                ساخته شده <i class="fa fa-heart"></i> توسط
                                <a href="https://www.github.com/amili-code"
                                    class="font-weight-bold"
                                    target="_blank">amili-code</a>
                                برای مدیریت اسان تر
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul
                                class="nav nav-footer justify-content-center justify-content-lg-end">
                                <li class="nav-item">
                                    <a href="https://www.creative-tim.com"
                                        class="nav-link text-muted"
                                        target="_blank">درباره ما</a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="https://www.creative-tim.com/presentation"
                                        class="nav-link text-muted"
                                        target="_blank">درباره نرم افزار</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.creative-tim.com/blog"
                                        class="nav-link text-muted"
                                        target="_blank">یادگیری</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://amili-code.github.io"
                                        class="nav-link pe-0 text-muted"
                                        target="_blank">من</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

<script>
            createTable("جدول پروفایل ها" , "active-client" , "table-active")    

</script>
