

<!-- End Navbar -->
<div class="container-fluid py-2">
  <div class="row">
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-header d-flex justify-content-between p-3 pt-2">
          <div
            class="icon icon-md icon-shape bg-gradient-dark shadow-dark text-center border-radius-lg">
            <i class="material-symbols-rounded opacity-10">weekend</i>
          </div>
          <div class="text-start pt-1">
            <p class="text-sm mb-0 text-capitalize">تعداد کاربران متصل</p>
            <h4 class="mb-0" id="activeClientCount">در حال بارگیری</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
          <p class="mb-0 text-start text-center"><span
              class="text-success text-sm font-weight-bolder ms-1"></span><a
              href="#active">نمایش دقیق</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-header d-flex justify-content-between p-3 pt-2">
          <div
            class="icon icon-md icon-shape bg-gradient-dark shadow-dark text-center border-radius-lg">
            <i class="material-symbols-rounded opacity-10">leaderboard</i>
          </div>
          <div class="text-start pt-1">
            <p class="text-sm mb-0 text-capitalize">تعداد روتر ها</p>
            <h4 class="mb-0" id="routerCount">در حال بارگیری</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
          <p class="mb-0 text-start text-center"><span
              class="text-success text-sm font-weight-bolder ms-1"></span><a
              href="#routers">نمایش دقیق</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-header d-flex justify-content-between p-3 pt-2">
          <div
            class="icon icon-md icon-shape bg-gradient-dark shadow-dark text-center border-radius-lg">
            <i class="material-symbols-rounded opacity-10">store</i>
          </div>
          <div class="text-start pt-1">
            <p class="text-sm mb-0 text-capitalize">تعداد محدودیت ها</p>
            <h4 class="mb-0" id="limitationCount">در حال بارگیری</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
          <p class="mb-0 text-start text-center"><span
              class="text-success text-sm font-weight-bolder ms-1"></span><a
              href="#limitation">نمایش دقیق</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between p-3 pt-2">
          <div
            class="icon icon-md icon-shape bg-gradient-dark shadow-dark text-center border-radius-lg">
            <i class="material-symbols-rounded opacity-10">weekend</i>
          </div>
          <div class="text-start pt-1">
            <p class="text-sm mb-0 text-capitalize">تعداد پروفایل ها</p>
            <h4 class="mb-0" id="profileCount">در حال بارگیری</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
          <p class="mb-0 text-start text-center"><span
              class="text-success text-sm font-weight-bolder ms-1"></span><a
              href="#profile">نمایش دقیق</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">

    <div class="row mt-4">
      <div class="card">

        <div class="card-title m-2" style="padding: 2rem .5rem;"><h4>نمایش
            اطلاعات ریز روتر ها</h4></div>
        <div class="card-body" id="dashboard-router"
          style="margin-top: -1.5rem;">
          <style> 
                  #progress-container {
                      display: none;
                  }
                  #result-dashboard-router {
                      display: none;
                  }
              </style>
          <div id="router-selection">
            <label for="router-list" class="form-label">انتخاب روتر:</label>
            <select id="router-list" class="form-select">
              <option value>لطفا یک روتر انتخاب کنید...</option>
            </select>
          </div>

          <!-- مرحله 2: انتخاب اینترفیس -->
          <div id="interface-selection" class="mt-3" style="display: none;">
            <label for="interface-list" class="form-label">انتخاب
              اینترفیس:</label>
            <select id="interface-list" class="form-select">
              <option value></option>
              <option value="ether1">ether1</option>
              <option value="ether2">ether2</option>
              <option value="ether3">ether3</option>
              <option value="ether4">ether4</option>
              <option value="ether5">ether5</option>
              <option value="ether6">ether6</option>
            </select>
          </div>

          <div id="progress-container" class="mt-3">
            <label class="form-label">در حال بارگیری اطلاعات...</label>
            <div class="progress">
              <div id="progress-bar"
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar" style="width: 0%;"></div>
            </div>
          </div>

          <div class="row mt-2" id="result-dashboard-router"
            style="display: none;">
            <div class="col-lg-6 col-md-6 mt-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h6 class="mb-0 ">سخت افزار</h6>
                  <p class="text-sm "> مقدار استفاده از منابع</p>
                  <div class="pe-2">
                    <div class="chart">
                      <canvas id="chart-bars" class="chart-canvas"
                        height="300" style="height:max-content"></canvas>
                    </div>
                  </div>
                  <div class="d-flex ">

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h6 class="mb-0 ">مصرف اینترنت</h6>
                  <p class="text-sm "><span
                      class="font-weight-bolder text-success"></span>میزان
                    دانلود و اپلود</p>
                  <div class="pe-2">
                    <div class="chart">
                      <canvas id="usage-chart" class="chart-canvas"
                        height="200"></canvas>
                      <div style="text-align: center; margin-top: 10px;">
                        <label><input type="checkbox" onchange="updateChart()"
                            value="totalTraffic" checked> کل مصرف</label>
                        <label><input type="checkbox" onchange="updateChart()"
                            value="totalDownload" checked> دانلود</label>
                        <label><input type="checkbox" onchange="updateChart()"
                            value="totalUpload" checked> آپلود</label>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex ">

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h6 class="mb-0 ">تغییرات روزانه</h6>
                  <div class="pe-2">
                    <div class="chart">
                      <img
                        id="daily-data"
                        src="http://192.168.100.100/graphs/iface/ether1/daily.gif"
                        style="width: 103%;" alt>
                      <!-- <canvas id="chart-line-tasks" class="chart-canvas"
                        height="170"></canvas> -->
                      <div></div>
                    </div>
                  </div>
                  <!-- <hr class="dark horizontal">
                      <div class="d-flex ">
                        <i class="material-symbols-rounded text-sm my-auto ms-1">schedule</i>
                        <p class="mb-0 text-sm">تم تحديثه للتو</p>
                      </div> -->
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h6 class="mb-0 ">تغییرات هفتگی</h6>
                  <div class="pe-2">
                    <div class="chart">
                      <!-- <canvas id="chart-line-tasks" class="chart-canvas"
                        height="170"></canvas> -->
                      <img
                        id="weekly-data"
                        src="http://192.168.100.100/graphs/iface/ether1/weekly.gif"
                        style="width: 103%;" alt>
                    </div>
                  </div>
                  <!-- <hr class="dark horizontal">
                      <div class="d-flex ">
                        <i class="material-symbols-rounded text-sm my-auto ms-1">schedule</i>
                        <p class="mb-0 text-sm">تم تحديثه للتو</p>
                      </div> -->
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h6 class="mb-0 ">تغییرات ماهانه</h6>
                  <div class="pe-2">
                    <div class="chart">
                      <!-- <canvas id="chart-line-tasks" class="chart-canvas"
                        height="170"></canvas> -->
                      <img
                        id="monthly-data"
                        src="http://192.168.100.100/graphs/iface/ether1/monthly.gif"
                        style="width: 103%;" alt>
                    </div>
                  </div>
                  <!-- <hr class="dark horizontal">
                      <div class="d-flex ">
                        <i class="material-symbols-rounded text-sm my-auto ms-1">schedule</i>
                        <p class="mb-0 text-sm">تم تحديثه للتو</p>
                      </div> -->
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h6 class="mb-0 ">تغییرات سالانه</h6>
                  <div class="pe-2">
                    <div class="chart">
                      <!-- <canvas id="chart-line-tasks" class="chart-canvas"
                        height="170"></canvas> -->
                      <img
                        id="yearly-data"
                        src="http://192.168.100.100/graphs/iface/ether1/yearly.gif"
                        style="width: 103%;" alt>
                    </div>
                  </div>
                  <!-- <hr class="dark horizontal">
                      <div class="d-flex ">
                        <i class="material-symbols-rounded text-sm my-auto ms-1">schedule</i>
                        <p class="mb-0 text-sm">تم تحديثه للتو</p>
                      </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row mb-3">
            <div class="col-6">
              <h6>فعالیت های ادمین ها</h6>
              <p class="text-sm">
                <i class="fa fa-check text-info" aria-hidden="true"></i>
                <span class="font-weight-bold ms-1"></span>لیست فعالت ها
              </p>
            </div>
          </div>
        </div>
        <div class="card-body p-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0" id="table-admin">
              <thead>
                <tr id="table-admin-tr"></tr>
              </thead>
              <tbody id="table-admin-tbody">

              </tbody>
            </table>
            <div class="container-fluid p-2" style="text-align: center;"
              id="table-admin-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card h-100">
        <div class="card-header pb-0">
          <h6>اطلاعات</h6>
          <p class="text-sm">
            <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
            <span class="font-weight-bold"></span>هزینه ی ارسال هر پیامک کمتر از
            1000 تومن است
          </p>
        </div>
        <div class="card-body p-3">
          <div class="timeline timeline-one-side">
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i
                  class="material-symbols-rounded text-success text-gradient">credit_card</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0">موجودی پنل
                  پیامکی</h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                  id="smsPrice">درحال جمع اوری اطلاعات</p>
              </div>
            </div>
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i
                  class="material-symbols-rounded text-danger text-gradient">code</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0">تعداد کل
                  کاربران</h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                  id="userCount">درحال جمع اوری اطلاعات</p>
              </div>
            </div>
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i
                  class="material-symbols-rounded text-info text-gradient">shopping_cart</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0">تعداد کل
                  درخواست ها</h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                  id="reqCunt">درحال جمع اوری اطلاعات</p>
              </div>
            </div>
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i
                  class="material-symbols-rounded text-warning text-gradient">key</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0">تعداد
                  کاربران غیرفعال</h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                  id="adminCount">درحال جمع اوری اطلاعات</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer py-4  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-end">
            © <script>
                  document.write(new Date().getFullYear())
                </script>,
            ساخته شده <i class="fa fa-heart"></i> توسط
            <a href="https://www.github.com/amili-code" class="font-weight-bold"
              target="_blank">amili-code</a>
            برای مدیریت اسان تر
          </div>
        </div>
        <div class="col-lg-6">
          <ul
            class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link text-muted"
                target="_blank">درباره ما</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/amili-code/routerInterface"
                class="nav-link text-muted" target="_blank">درباره نرم افزار</a>
            </li>
            <li class="nav-item">
              <a href="/toturial"
                class="nav-link text-muted" target="_blank">یادگیری</a>
            </li>
            <li class="nav-item">
              <a href="https://amili-code.github.io"
                class="nav-link pe-0 text-muted" target="_blank">من</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
<p style="display: none;" id="routerIp"><%= routerIp %></p>
<script>
    createTable("جدول پروفایل ها" , "admin-log" , "table-admin")
    async function smsPrice(){
      const data = await apiRequest('/dash')
      const data1 = await apiRequest('/client')
      const data2 = await apiRequest('/req')
      const data3 = await apiRequest('/block-client')
      const data4 = await apiRequest('/active-client')
      const data5 = await apiRequest('/routers')
      const data6 = await apiRequest('/limitation')
      const data7 = await apiRequest('/profile')

      document.getElementById(`smsPrice`).textContent = `موجودی شما : ${data.cash / 10} تومان`
      document.getElementById(`userCount`).textContent = `تعداد کل کاربران :  ${data1.length}`
      document.getElementById(`reqCunt`).textContent = `تعداد کل درخواست ها :  ${data2.length}`
      document.getElementById(`adminCount`).textContent = `تعداد کل کاربران غیرفعال :  ${data3.length}`
      document.getElementById(`activeClientCount`).textContent = `کاربران فعال : ${data4.length}`
      document.getElementById(`routerCount`).textContent = `روتر ها: ${data5.length}`
      document.getElementById(`limitationCount`).textContent = `محدودیت ها: ${data6.length}`
      document.getElementById(`profileCount`).textContent = `پروفایل ها: ${data7.length}`
    }

    smsPrice()
      
  </script>

<script>
        $(document).ready(async function () {
            const routerSelect = $("#router-list");
            const interfaceSelect = $("#interface-selection");
            const progressBar = $("#progress-bar");
            const progressContainer = $("#progress-container");
            const resultContainer = $("#result-dashboard-router");
            const dailyData = $("#daily-data");
            // دریافت لیست روترها از API
            async function getRouters() {
                const routers = await apiRequest("/routers"); // شبیه‌سازی درخواست API
                routers.forEach(router => {
                    routerSelect.append(new Option(router.name, router.id));
                });
            }

            await getRouters(); // فراخوانی تابع برای دریافت و نمایش روترها

            // مرحله انتخاب روتر
            routerSelect.on("change", function () {
                if (this.value) {
                    interfaceSelect.show();
                } else {
                    interfaceSelect.hide();
                }
            });

            // مرحله انتخاب اینترفیس
            $("#interface-list").on("change", function () {
                progressContainer.show();
                let progress = 0;
                const interfaceListValue = document.getElementById('interface-list').value
                const routerIp = document.getElementById('routerIp').textContent
                let interval = setInterval(() => {
                    progress += 20;
                    progressBar.css("width", progress + "%");
                    if (progress >= 100) {
                        clearInterval(interval);
                        progressContainer.hide();
                        document.getElementById('result-dashboard-router').style.display='flex'
                        apiRequest(`/router-information/${routerSelect.val()}&2`).then((data) => {
                          createHardwareChart(data)
                          document.getElementById("daily-data").src =   `http://${routerIp}/graphs/iface/${interfaceListValue}/daily.gif`
                          document.getElementById("weekly-data").src =  `http://${routerIp}/graphs/iface/${interfaceListValue}/weekly.gif`
                          document.getElementById("monthly-data").src = `http://${routerIp}/graphs/iface/${interfaceListValue}/monthly.gif`
                          document.getElementById("yearly-data").src =  `http://${routerIp}/graphs/iface/${interfaceListValue}/yearly.gif`
                        }).catch((err) => {
                          
                        });

                        

                    }
                }, 1000);
            });

            // دکمه بازنشانی برای شروع مجدد
            $("#reset-btn").on("click", function () {
                routerSelect.val("");
                interfaceSelect.hide();
                resultContainer.hide();
                progressBar.css("width", "0%");
            });

            // شبیه‌سازی درخواست API
            
        });
    </script>

<script>
      async function createHardwareChart(inf){
        var ctx = document.getElementById("chart-bars").getContext("2d");
        const allMemory = parseFloat(inf.data.total_memory); // 1952.0
        const allMemoryUsed = parseFloat(inf.data.used_memory); // 102.6
        const allMemoryFree = parseFloat(inf.data.free_memory); // 1849.4
        
        new Chart(ctx, {
          type: "bar",
          data: {
            labels: ['مقدار کل حافظه', 'حافظه استفاده شده' , 'حافظه ی خالی'],
            datasets: [{
              label: "مگابایت",
              tension: 0.4,
              borderWidth: 0,
              borderRadius: 4,
              borderSkipped: false,
              backgroundColor: "#43A047",
              data: [allMemory , allMemoryUsed, allMemoryFree],
              barThickness: 'flex'
            }, ],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: false,
              }
            },
            interaction: {
              intersect: false,
              mode: 'index',
            },
            scales: {
              y: {
                grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [5, 5],
                  color: '#e5e5e5'
                },
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 500,
                  beginAtZero: true,
                  padding: 10,
                  font: {
                    size: 14,
                    lineHeight: 2
                  },
                  color: "#737373"
                },
              },
              x: {
                grid: {
                  drawBorder: false,
                  display: false,
                  drawOnChartArea: false,
                  drawTicks: false,
                  borderDash: [5, 5]
                },
                ticks: {
                  display: true,
                  color: '#737373',
                  padding: 10,
                  font: {
                    size: 14,
                    lineHeight: 2
                  },
                }
              },
            },
          },
        });

      }
    </script>

<script>


let chart;
let chartData = [];

async function fetchChartData() {
    try {
        const response = await apiRequest("/useage");
        chartData = await response;
        createChart();
    } catch (error) {
        console.error("خطا در دریافت داده‌ها:", error);
    }
}

function createChart() {
    const ctx = document.getElementById('usage-chart').getContext('2d');
    const labels = chartData.map(item => item.weekday);

    const datasets = [];
    document.querySelectorAll('input[type=checkbox]:checked').forEach(checkbox => {
        const key = checkbox.value;
        const colors = {
            totalTraffic: "#43A047",
            totalDownload: "#1E88E5",
            totalUpload: "#E53935"
        };
        datasets.push({
            label: checkbox.nextSibling.textContent,
            data: chartData.map(item => item[key]),
            borderColor: colors[key],
            backgroundColor: colors[key] + "33",
            borderWidth: 2,
            tension: 0.4,
            pointRadius: 4,
            pointBackgroundColor: colors[key]
        });
    });

    const config = {
        type: 'line',
        data: { labels, datasets },
        options: {
            responsive: true,
            plugins: {
                legend: { position: 'top' },
                title: { display: true, text: 'مصرف اینترنت بر اساس روزهای هفته' }
            }
        }
    };

    if (chart) chart.destroy();
    chart = new Chart(ctx, config);
}

function updateChart() {
    createChart();
}

// دریافت داده‌ها از API و ایجاد چارت
fetchChartData();

</script>

<style>
    .chart-btn {
        background-color: #43A047;
        color: white;
        border: none;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
    .chart-btn:hover {
        background-color: #388E3C;
    }
</style>