

<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div
                    class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div
                        class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-1 m-2">جدول
                            محدودیت ها</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div>
                        <form class="form row container-fluid"
                            id="limitationForm">
                            <h6>ثبت محدودیت جدید</h6>
                            <div
                                class="col input-group input-group-outline my-3">
                                <label
                                    class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">نام</label>
                                <input type="text" name="name" class="form-control" id="nameInput">
                                <small id="errorMsg" style="color: red; display: none;">فقط حروف انگلیسی مجاز است</small>

                                <script>
                                document.getElementById("nameInput").addEventListener("input", function() {
                                    const regex = /^[A-Za-z0-9\s]*$/;
                                    const errorMsg = document.getElementById("errorMsg");

                                    if (!regex.test(this.value)) {
                                        errorMsg.style.display = "inline";
                                        this.value = this.value.replace(/[^A-Za-z\s]/g, ""); // حذف کاراکترهای غیرمجاز
                                    } else {
                                        errorMsg.style.display = "none";
                                    }
                                });
                                </script>
                            </div>
                            <div
                                class="col input-group input-group-outline my-3">
                                <label
                                    class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">دانلود</label>
                                <input type="number" name="download"
                                    class="form-control">
                            </div>
                            <div
                                class="col input-group input-group-outline my-3">
                                <label
                                    class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">اپلود</label>
                                <input type="number" name="upload"
                                    class="form-control">
                            </div>
                            <div
                                class="col input-group input-group-outline my-3">
                                <label
                                    class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">TX</label>
                                <input type="number" name="tx"
                                    class="form-control">
                            </div>
                            <div
                                class="col input-group input-group-outline my-3">
                                <label
                                    class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">RX</label>
                                <input type="number" name="rx"
                                    class="form-control">
                            </div>
                            <div
                                class="col input-group input-group-outline my-3">
                                <label
                                    class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">محدودیت
                                    زمانی</label>
                                <input type="text" name="timeLimit"
                                    class="form-control">
                            </div>
                            <div
                                class="col input-group input-group-outline my-3"
                                id="routerInput">

                            </div>

                            <div
                                class="col input-group input-group-outline my-3">
                                <input type="submit" value="افزودن محدودیت"
                                    class="btn bg-gradient-dark w-100 mb-2">
                            </div>
                        </form>
                        <hr>
                    </div>
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0"
                            id="table-limitation">
                            <thead>
                                <tr id="table-limitation-tr">
                                  
                                </thead>
                                <tbody id="table-limitation-tbody">
                                </tbody>
                            </table>
              <div class="container-fluid p-2" style="text-align: center;" id="table-limitation-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div
                        class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div
                            class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3 m-2">ناهمخوانی ها</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        
                    </div>
                </div>
            </div>
        </div> -->
        <div id="modal-creator-limitation"></div>
        <footer class="footer py-4  ">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div
                            class="copyright text-center text-sm text-muted text-lg-end">
                            © <script>
                  document.write(new Date().getFullYear())
                </script>,
                            ساخته شده <i class="fa fa-heart"></i> توسط
                            <a href="https://www.github.com/amili-code"
                                class="font-weight-bold"
                                target="_blank">amili-code</a>
                            برای مدیریت اسان تر
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul
                            class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com"
                                    class="nav-link text-muted"
                                    target="_blank">درباره ما</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    href="https://www.creative-tim.com/presentation"
                                    class="nav-link text-muted"
                                    target="_blank">درباره نرم افزار</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/blog"
                                    class="nav-link text-muted"
                                    target="_blank">یادگیری</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://amili-code.github.io"
                                    class="nav-link pe-0 text-muted"
                                    target="_blank">من</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script> 
    async function createInputLimitationForm(){
        let routers = await apiRequest("/routers");

        document.getElementById("routerInput").innerHTML=`
                    <label class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">روتر</label>
                    <select name="routerId" id="edit-routerId" style="width: 100%; padding: 8px;">
                        <option value="" disabled selected hidden></option>
                        ${routers.map(router => `
                            <option value="${router.id}">
                                ${router.name}
                            </option>
                        `).join("")}
                    </select>
        `
    }
        
    createInputLimitationForm()
    createTable("جدول محدودیت ها" , "limitation" , "table-limitation")
       document.getElementById("limitationForm").addEventListener("submit", function(event) {
        event.preventDefault(); // جلوگیری از ارسال فرم به صورت پیش‌فرض
        // دریافت داده‌های فرم
        const formData = new FormData(this);
        const data = Object.fromEntries(formData.entries());
        
        // ارسال داده‌ها
        createLimitation(data);
        setTimeout(() => {
            createTable("جدول روترها" , "limitation" , "table-limitation")
        }, 4000);
    });

    async function createLimitation(data) {
        try {
            const response = await apiRequest("/limitation", "POST", data);
            if(response){
                Swal.fire({
                        title: "محدودیت ثبت شد!",
                        text: `محدودیت "${data.name}" با موفقیت ثبت شد.`,
                        icon: "success",
                        confirmButtonText: "متوجه شدم",
                        confirmButtonColor:'#43A047',
                        timer: 3000,
                        timerProgressBar: true,
                        showClass: {
                            popup: "animate__animated animate__fadeInDown"
                        },
                        hideClass: {
                            popup: "animate__animated animate__fadeOutUp"
                        }
                    });
                    document.getElementById("limitationForm").reset();
            } else{
                Swal.fire({
                title: "خطا!",
                text: "افزودن محدودیت با مشکل مواجه شد.",
                icon: "error",
                confirmButtonText: "متوجه شدم",
                confirmButtonColor: "#d33"
            });
            }
            
        } catch (error) {
        }
    }
    </script>
