

<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div
                    class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div
                        class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-1 m-2">جدول
                            پروفایل ها</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div>
                        <form class="form row container-fluid"
                            id="profileForm">
                            <h6>ثبت پروفایل جدید</h6>
                            <div
                                class="col input-group input-group-outline my-3">
                                <label
                                    class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">نام</label>
                                <input type="text" name="name"
                                    class="form-control" id="nameInpute">
                                <small id="errorMsge"
                                    style="color: red; display: none;">فقط حروف
                                    انگلیسی مجاز است</small>

                                <script>
                                document.getElementById("nameInpute").addEventListener("input", function() {
                                    const regex = /^[A-Za-z0-9\s]*$/;
                                    const errorMsg = document.getElementById("errorMsge");

                                    if (!regex.test(this.value)) {
                                        errorMsg.style.display = "inline";
                                        this.value = this.value.replace(/[^A-Za-z\s]/g, ""); // حذف کاراکترهای غیرمجاز
                                    } else {
                                        errorMsg.style.display = "none";
                                    }
                                });
                                </script>
                            </div>
                            <div
                                class="col input-group input-group-outline my-3">
                                <label
                                    class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">قیمت</label>
                                <input type="number" name="price"
                                    class="form-control">
                            </div>
                            <div id="hhhh"
                                class="col input-group input-group-outline my-3">
                                <label
                                    class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    بازه زمانی
                                </label>
                                <div class="dropdown">
                                    <div id="weekDaysDropdown"
                                        class="dropdown-toggle form-control"
                                        onclick="toggleDropdown()">
                                        تمام روزهای هفته
                                    </div>
                                    <div id="weekDaysList"
                                        class="dropdown-menu">
                                        <label><input type="checkbox"
                                                value="شنبه"> شنبه</label>
                                        <label><input type="checkbox"
                                                value="یکشنبه"> یکشنبه</label>
                                        <label><input type="checkbox"
                                                value="دوشنبه"> دوشنبه</label>
                                        <label><input type="checkbox"
                                                value="سه‌شنبه"> سه‌شنبه</label>
                                        <label><input type="checkbox"
                                                value="چهارشنبه">
                                            چهارشنبه</label>
                                        <label><input type="checkbox"
                                                value="پنج‌شنبه">
                                            پنج‌شنبه</label>
                                        <label><input type="checkbox"
                                                value="جمعه"> جمعه</label>
                                    </div>
                                </div>
                            </div>
                            <style>
                                .dropdown {
                                    position: relative;
                                    width: 100%;
                                }

                                .dropdown-toggle {
                                    cursor: pointer;
                                    padding: 8px;
                                    border: 1px solid #ccc;
                                    border-radius: 5px;
                                    background-color: white;
                                }

                                .dropdown-menu {
                                    display: none;
                                    position: absolute;
                                    width: 100%;
                                    background-color: white;
                                    border: 1px solid #ccc;
                                    border-radius: 5px;
                                    padding: 10px;
                                    z-index: 10;
                                }

                                .dropdown-menu label {
                                    display: block;
                                    padding: 5px;
                                    cursor: pointer;
                                }

                                .dropdown-menu input {
                                    margin-right: 5px;
                                }

                                .dropdown-menu.show {
                                    display: block;
                                }
                            </style>
                            <div
                                class="col input-group input-group-outline my-3">
                                <label
                                    class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">تاریخ
                                    شروع بازه</label>
                                <select name="startDate" id="edit-startDate"
                                    style="width: 100%; padding: 8px;">
                                    <option value disabled selected
                                        hidden></option>
                                    <option value="first_use">از اولین
                                        بار</option>
                                    <option value="on_login">از موقع
                                        ورود</option>
                                </select>
                            </div>
                            <div
                                class="col input-group input-group-outline my-3"
                                id="limitInput">

                            </div>

                            <div
                                class="col input-group input-group-outline my-3">
                                <input type="submit" value="افزودن پروفایل"
                                    class="btn bg-gradient-dark w-100 mb-2">
                            </div>
                        </form>
                        <hr>
                    </div>
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0"
                            id="table-profile">
                            <thead>
                                <tr id="table-profile-tr">

                                </thead>
                                <tbody id="table-profile-tbody">
                                </tbody>
                            </table>
                            <div class="container-fluid p-2"
                                style="text-align: center;"
                                id="table-profile-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-creator-profile"></div>
        <footer class="footer py-4  ">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div
                            class="copyright text-center text-sm text-muted text-lg-end">
                            © <script>
                  document.write(new Date().getFullYear())
                </script>,
                            <!-- ساخته شده <i class="fa fa-heart"></i> توسط
                            <a href="https://www.github.com/amili-code"
                                class="font-weight-bold"
                                target="_blank">amili-code</a>
                            برای مدیریت اسان تر -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul
                            class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="/about-us"
                                    class="nav-link text-muted"
                                    target="_blank">درباره ما</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    href="https://github.com/amili-code/routerInterface"
                                    class="nav-link text-muted"
                                    target="_blank">درباره نرم افزار</a>
                            </li>
                            <li class="nav-item">
                                <a href="/toturial"
                                    class="nav-link text-muted"
                                    target="_blank">یادگیری</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a href="https://amili-code.github.io"
                                    class="nav-link pe-0 text-muted"
                                    target="_blank">من</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script> 
    async function createInputProfileForm(){
        let limitation = await apiRequest("/limitation");

        document.getElementById("limitInput").innerHTML=`
                    <label class="form-label text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">محدودیت ها </label>
                    <select name="limitationId" id="edit-limitationId" style="width: 100%; padding: 8px;">
                        <option value="" disabled selected hidden></option>
                        ${limitation.map(limit => `
                            <option value="${limit.id}">
                                ${limit.name}
                            </option>
                        `).join("")}
                    </select>
        `
    }
    createInputProfileForm()
    
    const daysMap = {
        "شنبه": "saturday",
        "یکشنبه": "sunday",
        "دوشنبه": "monday",
        "سه‌شنبه": "tuesday",
        "چهارشنبه": "wednesday",
        "پنج‌شنبه": "thursday",
        "جمعه": "friday"
    };

    function toggleDropdown() {
        document.getElementById("weekDaysList").classList.toggle("show");
        document.getElementById("hhhh").classList.add('focused')
        document.getElementById("hhhh").classList.add('is-focused')
    }

    document.addEventListener("click", function (event) {
        if (!event.target.closest(".dropdown")) {
            document.getElementById("weekDaysList").classList.remove("show");
        }
    });

    document.querySelectorAll("#weekDaysList input[type='checkbox']").forEach((checkbox) => {
        checkbox.addEventListener("change", function () {
            const selectedDays = Array.from(document.querySelectorAll("#weekDaysList input[type='checkbox']:checked"))
                .map(input => input.value);

            document.getElementById("weekDaysDropdown").innerText = selectedDays.length ? selectedDays.join(", ") : "تمام روزهای هفته";
        });
    });

        createTable("جدول پروفایل ها" , "profile" , "table-profile")
       document.getElementById("profileForm").addEventListener("submit", function(event) {
        event.preventDefault(); // جلوگیری از ارسال فرم به صورت پیش‌فرض

        // دریافت داده‌های فرم

        
        
        const formData = new FormData(this);
        const data = Object.fromEntries(formData.entries());
        const selectedDays = Array.from(document.querySelectorAll("#weekDaysList input[type='checkbox']:checked"))
            .map(input => daysMap[input.value])
            .join(",");

        data.weekDays = selectedDays || "saturday,sunday,monday,tuesday,wednesday,thursday,friday"; 
        
        // ارسال داده‌ها
        createprofile(data);
    });

    async function createprofile(data) {
     const response =await apiRequest("/profile", "POST", data);
     if (response) {
        Swal.fire({
            title: "پروفایل ثبت شد!",
            text: `پروفایل "${data.name}" با موفقیت ثبت شد.`,
            icon: "success",
            confirmButtonText: "متوجه شدم",
            confirmButtonColor:'#43A047',
            timer: 3000,
            timerProgressBar: true,
            showClass: {
                popup: "animate__animated animate__fadeInDown"
            },
            hideClass: {
                popup: "animate__animated animate__fadeOutUp"
            }
        });
        createTable("جدول پروفایل ها" , "profile" , "table-profile")
        createInputClientForm()
        document.getElementById("profileForm").reset();
     } else{
         Swal.fire({
                title: "خطا!",
                text: "افزودن پروفایل با مشکل مواجه شد.",
                icon: "error",
                confirmButtonText: "متوجه شدم",
                confirmButtonColor: "#d33"
            });
     }
    }
    </script>
